@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backgroundContent {
  animation: scroll 800s linear infinite;
  background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url("https://st3.depositphotos.com/5183619/14538/v/600/depositphotos_145387937-stock-illustration-city-map-abstract-seamless-pattern.jpg");
  background-attachment: fixed;
  min-height: 100%;
}

@keyframes scroll {
   100%{
    background-position:3000px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .backgroundContent {
    animation: scroll 200s linear infinite;
  }
}

.header{
  text-align: justify;
  letter-spacing: 1px;
  padding: 2em 10%;
  background: #bdb9b7;
  color: #fff;
  display: flex;
  margin-bottom: 3%;
  box-shadow: 0 0 10px #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.navList{
  margin-bottom: 0;
  display: flex;
}
.navItem{
  margin-right: 10px;
  list-style-type: none;
  position: relative;
	color: #000;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
  
}
.navItem::after{
  display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 1px;
	background-color: #000;
	content: "";
	transition: width 0.3s ease-out;
}

.navItem:hover:after,
.navItem:focus:after {
	width: 100%; 
}

.wrapper{
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #efebe9;
  /* background: linear-gradient(0deg, rgba(204,203,203,1) 0%, rgba(226,225,225,1) 100%); */
  border-radius: 15px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.JSONwrapper{
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background:#fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.paddingBottom{
  padding-bottom: 3%;
}
.content{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.selectCont{
  display: flex;
}
.routeSearchButMob{
  display: none;
}
.routeDeleteButMob{
  display: none;
}

@media( max-width: 1050px){
  .selectCont{
    flex-direction: column;
  }
  .selectMargin{
    margin-bottom: 10px;
  }

}
@media (max-width: 740px) {
  .selectCont{
    flex-direction: row;
    justify-content: space-between;
  }
  .content{
    display: block;
  }
}

@media (max-width: 500px){
  .content{
    display: flex;
    flex-direction: row;
  }
  .selectCont{
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .selectItem{
    display: flex;
    flex-direction: column;
  }
  .selectMargin{
    margin-bottom: 10px;
  }
  .buttonCont{
    display: flex;
  }
  .routeSearchBut{
    display: none;
  }
  .routeDeleteBut{
    display:none;
  }
  .routeSearchButMob{
    display:block;
    margin-right: 10px;
  }
  .routeDeleteButMob{
    display:block;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
    padding: 7px 1px
  }
  .ant-table-thead > tr > th{
    font-size: 10px;
  }
  .ant-table{
    font-size: 9px;
  }
  .ant-pagination-item a{
    padding: 0px 2px;
  }
}



.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ant-modal{
  top: 10px;
}

/* .butConteiner{
  display: flex;
} */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}